.container {
    min-height: 80vh;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0; /* 添加背景颜色便于观察 */
  }
  
  .target {
    position: absolute;
    width: 200px;
    height: 400px;
    background-image: url('/trump.png'); /* 替换为你的贴图 URL */
    background-size: cover;
    cursor: crosshair; /* 鼠标悬停样式 */
    transition: left 0.2s, top 0.2s; /* 添加平滑移动效果 */
  }
  
  .bullet {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red; /* 子弹的颜色 */
    border-radius: 50%;
    animation: shoot 0.5s ease-out forwards;
  }
  
  @keyframes shoot {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  